* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #fff;
}

.logo a{
  display: block;
  text-decoration: none;
  font-family: Courier;
  color: black;
  font-size: 1.8em;
  padding: 10px;
  margin: 0px 10px;
  text-align: left;
  width: 0;
  height: auto;
  position: absolute;
  top: 18px;
  left: 20px;
  right: 20px;
  z-index: 1000;
}

ul {
 margin-left: 550px;
}

ul li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

ul li a {
  display: block;
  text-decoration: none;
  font-size: 25px;
  font-family: Helvetica;
  color: #1e1e1e;
  padding: 0 20px;
}

ul li a:hover {
  color: red;
}

.wrapper{
  margin-top: 10px;
  display: grid;
    grid-gap: 10px;
		grid-template-columns: 50%;
    background-color: #fff;
		color: #444;
}
.a{
  grid-column: 1 / 2;
		grid-row: 1;
}
.b{
  grid-column: 2 ;
  grid-row: 1;
}
.c{
  grid-column: 1 / 2;
  grid-row: 2;
}
.d{
  grid-column: 2;
  grid-row: 2;
}
.container1{
    align-content: center;
    font-size: 1.2em;
    color: black;
    height: auto;
    margin: 10px;
    display: fixed;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}
.container1 p{
  text-align: center;
  margin: 40px;
  font-size: 1.6em
}
.container2{
  position: relative;
  text-align: center;
  color: #fff;
  z-index: -1;
}

.h2{
    text-align: center;
    margin: 3em;
    font-size: 2.5em;
}
.img-back{
  display: none;
  opacity: 0.9;
}
@media only screen and (min-width: 300px) {
  .img-back {
    display: block;
    width: 100%;
  }
  .divcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: black;
    background-color: #fff;
    padding: 20px;
    border: 0.5px solid grey;
    border-radius: 15px 15px 15px 15px;
  }
  .navbar{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid grey;
    float:left;
  }
}
.img-barn{
  width: 100%;
}
